<!-- <section>
  <article>
    <h3>Interpolation / Interpolação</h3>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1 é : {{ 1 + 1 }}</p>
    <p>Resultado de 1 + 1 não é : {{ 1 + 1 + getValor() }}</p>
    <p>Resultado de 1 + 1 não é : {{ 1 + 1 + getValor() }}</p>
    <p>Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
  </article>

  <article>
    <h3>Property Binding</h3>
    <img [src]="urlImagem">
  </article>
</section> -->

<section class="event-binding">
  <article>
    <h3>Event Binding</h3>
    <div>
      <button (click)="botaoClicado()">Click-me</button>

      <br><br>

      <input type="text"
        (keyup)="onKeyUp($event)"
        (keyup.enter)="salvarValor(campoInput.value)"
        (blur)="salvarValor(campoInput.value)"
        #campoInput
      >

      <p>Valor Atual: {{ valorAtual }}</p>
      <p>Valor Salvo: {{ valorSalvo }}</p>

      <br>
      <span
        (mouseover)="OnMouseOverOut()"
        (mouseout)="OnMouseOverOut()"
        [class.highlight]="isMouseOver"
      >Passe o mouse sobre mim</span>
    </div>
  </article>
</section>